<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Graphiti graph editor"
            extensions="xml, xdf, xnl"
            icon="icons/graphiti.gif"
            contributorClass="net.sf.graphiti.ui.editors.GraphActionBarContributor"
            class="net.sf.graphiti.ui.editors.GraphEditor"
            id="net.sf.graphiti.ui.editors.GraphEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="net.sf.graphiti.ui.wizards.graph"
            name="Graph">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="net.sf.graphiti.ui.Startup"></startup>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="net.sf.graphiti.ui.perspectives.GraphitiPerspectiveFactory"
            fixed="false"
            icon="icons/graphiti.gif"
            id="net.sf.graphiti.ui.perspective"
            name="Graphiti">
      </perspective>
   </extension>

</plugin>
