<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="net.sf.graphiti.ui.newWizards.graphiti"
            name="Graphiti">
      </category>
      <wizard
            category="net.sf.graphiti.ui.newWizards.graphiti"
            class="net.sf.graphiti.ui.wizards.NewGraphWizard"
            finalPerspective="net.sf.graphiti.ui.perspective"
            hasPages="true"
            icon="icons/graphiti.gif"
            id="net.sf.graphiti.ui.wizards.NewGraphWizard"
            name="Graph"
            project="false">
         <description>
            Create a graph
         </description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="net.sf.graphiti.ui.perspectives.GraphitiPerspectiveFactory"
            fixed="false"
            icon="icons/graphiti.gif"
            id="net.sf.graphiti.ui.perspective"
            name="Graphiti">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="net.sf.graphiti.ui.views"
            name="Graphiti">
      </category>
      <view
            allowMultiple="false"
            category="net.sf.graphiti.ui.views"
            class="net.sf.graphiti.ui.views.PropertyView"
            icon="icons/graphiti.gif"
            id="net.sf.graphiti.ui.views.PropertyView"
            name="Properties"
            restorable="true">
         <description>
            The Properties view displays properties associated with the current selection.
         </description>
      </view>
      <view
            allowMultiple="true"
            category="net.sf.graphiti.ui.views"
            class="net.sf.graphiti.ui.views.ComplexPropertyView"
            icon="icons/graphiti.gif"
            id="net.sf.graphiti.ui.views.ComplexPropertyView"
            name="Complex Properties"
            restorable="false">
         <description>
            The Complex Properties view displays complex properties (of type list, map) associated with the current selection.
         </description>
      </view>
   </extension>
   <extension point="org.eclipse.ui.editors">
      <editor
            class="net.sf.graphiti.ui.editors.GraphEditor"
            contributorClass="net.sf.graphiti.ui.editors.GraphActionBarContributor"
            default="false"
            icon="icons/graphiti.gif"
            id="net.sf.graphiti.ui.editors.GraphEditor"
            name="Graphiti graph editor">
         <contentTypeBinding
               contentTypeId="org.eclipse.core.runtime.xml">
         </contentTypeBinding>
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="net.sf.graphiti.ui.preferences.GraphitiPreferences"
            id="net.sf.graphiti.ui.preferences.GraphitiPreferences"
            name="Graphiti">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="net.sf.graphiti.ui.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="net.sf.graphiti.ui.Startup">
      </startup>
   </extension>

</plugin>
