<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension point="org.eclipse.ui.editors">
      <editor
            class="net.sf.graphiti.ui.editors.GraphEditor"
            contributorClass="net.sf.graphiti.ui.editors.GraphActionBarContributor"
            default="false"
            icon="icons/graphiti.gif"
            id="net.sf.graphiti.ui.editors.GraphEditor"
            name="Graphiti graph editor">
         <contentTypeBinding
               contentTypeId="org.eclipse.core.runtime.text">
         </contentTypeBinding>
         <contentTypeBinding
               contentTypeId="org.eclipse.core.runtime.xml">
         </contentTypeBinding>
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="net.sf.graphiti.ui.newWizards.graphiti"
            name="Graphiti">
      </category>
      <wizard
            category="net.sf.graphiti.ui.newWizards.graphiti"
            class="net.sf.graphiti.ui.wizards.NewGraphWizard"
            finalPerspective="net.sf.graphiti.ui.perspective"
            hasPages="true"
            icon="icons/graphiti.gif"
            id="net.sf.graphiti.ui.wizards.NewGraphWizard"
            name="Graph"
            project="false">
         <description>
            Create an empty graph.
         </description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="net.sf.graphiti.ui.views"
            name="Graphiti">
      </category>
      <view
            allowMultiple="false"
            category="net.sf.graphiti.ui.views"
            class="net.sf.graphiti.ui.views.SimplePropertyView"
            icon="icons/graphiti.gif"
            id="net.sf.graphiti.ui.views.SimplePropertyView"
            name="Properties"
            restorable="true">
         <description>
            The Properties view displays properties associated with the current selection. Properties are key-value associations where both the key and value are strings.
         </description>
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="net.sf.graphiti.ui.properties.ParametersPropertyPage"
            id="net.sf.graphiti.ui.properties.parametersPropertyPage"
            name="Parameters">
         <enabledWhen>
            <instanceof
                  value="net.sf.graphiti.model.AbstractObject">
            </instanceof>
         </enabledWhen>
      </page>
   </extension>

</plugin>
