<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="definition" name="definition" schema="schema/definition.exsd"/>
   <extension-point id="grammar" name="grammar" schema="schema/grammar.exsd"/>

   <extension
         point="net.sf.graphiti.configuration.definition">
      <configuration
            extension="xdf"
            file-extensions="cal,nl,xnl,xdf"
            name="XDF"
            type="text/xml"
            validator="net.sf.graphiti.validator.DataflowValidator">
         <graphType
               name="XML Dataflow Network">
            <parameter
                  name="id"
                  type="java.lang.String">
            </parameter>
            <parameter
                  name="network parameter"
                  type="java.util.List">
            </parameter>
            <parameter
                  name="network variable declaration"
                  type="java.util.Map">
            </parameter>
         </graphType>
         <vertexType
               name="Input port">
            <parameter
                  name="id"
                  type="java.lang.String">
            </parameter>
            <parameter
                  default="int(size=32)"
                  name="port type"
                  type="java.lang.String">
            </parameter>
               <color
                     blue="100"
                     green="60"
                     red="0">
               </color>
               <size
                     height="30"
                     width="30">
               </size>
               <shape
                     type="triangle">
               </shape>
         </vertexType>
         <vertexType
               name="Output port">
            <parameter
                  name="id"
                  type="java.lang.String">
            </parameter>
            <parameter
                  default="int(size=32)"
                  name="port type"
                  type="java.lang.String">
            </parameter>
               <color
                     blue="100"
                     green="0"
                     red="60">
               </color>
               <shape
                     type="triangle">
               </shape>
               <size
                     height="30"
                     width="30">
               </size>
         </vertexType>
         <vertexType
               name="Instance">
            <parameter
                  name="id"
                  type="java.lang.String">
            </parameter>
            <parameter
                  name="instance parameter"
                  type="java.util.Map">
            </parameter>
            <parameter
                  name="refinement"
                  type="java.lang.String">
            </parameter>
            <color
                  blue="23"
                  green="232"
                  red="190">
            </color>
            <size
                  height="40"
                  width="40">
            </size>
            <shape
                  type="roundedBox">
            </shape>
         </vertexType>
         <edgeType
               directed="true"
               name="Connection">
            <parameter
                  name="source port"
                  type="java.lang.String">
            </parameter>
            <parameter
                  name="target port"
                  type="java.lang.String">
            </parameter>
            <parameter
                  name="buffer size"
                  type="java.lang.String">
            </parameter>
         </edgeType>
         <import>
            <xslt
                  name="xslt/net/sf/graphiti/xdf/input_XDF.xslt">
            </xslt>
         </import>
         <export>
            <xslt
                  name="xslt/net/sf/graphiti/xdf/output_XDF.xslt">
            </xslt>
         </export>
      </configuration>
      <configuration
            extension="graphml"
            name="sdf4j"
            type="text/xml"
            validator="net.sf.graphiti.validator.StaticDataflowValidator">
         <graphType
               name="SDF Graph">
            <parameter
                  name="name"
                  type="java.lang.String">
            </parameter>
            <parameter
                  name="graph parameter"
                  type="java.util.List">
            </parameter>
            <parameter
                  name="graph variable"
                  type="java.util.Map">
            </parameter>
         </graphType>
         <vertexType
               name="Input port">
            <parameter
                  name="id"
                  type="java.lang.String">
            </parameter>
            <color
                  blue="100"
                  green="60"
                  red="0">
            </color>
            <size
                  height="30"
                  width="30">
            </size>
            <shape
                  type="triangle">
            </shape>
         </vertexType>
         <vertexType
               name="Output port">
            <parameter
                  name="id"
                  type="java.lang.String">
            </parameter>
            <color
                  blue="100"
                  green="0"
                  red="60">
            </color>
            <shape
                  type="triangle">
            </shape>
            <size
                  height="30"
                  width="30">
            </size>
         </vertexType>
         <vertexType
               name="Vertex">
            <parameter
                  name="id"
                  type="java.lang.String">
            </parameter>
            <parameter
                  name="actual parameter"
                  type="java.util.Map">
            </parameter>
            <parameter
                  name="refinement"
                  type="java.lang.String">
            </parameter>
            <color
                  blue="17"
                  green="188"
                  red="238">
            </color>
            <size
                  height="40"
                  width="40">
            </size>
            <shape
                  type="roundedBox">
            </shape>
         </vertexType>
         <edgeType
               directed="true"
               name="Dataflow edge">
            <parameter
                  name="source port"
                  type="java.lang.String">
            </parameter>
            <parameter
                  name="target port"
                  type="java.lang.String">
            </parameter>
            <parameter
                  default="1"
                  name="source production"
                  type="java.lang.String">
            </parameter>
            <parameter
                  default="1"
                  name="target consumption"
                  type="java.lang.String">
            </parameter>
            <parameter
                  default="0"
                  name="delay"
                  type="java.lang.String">
            </parameter>
            <parameter
                  default="char"
                  name="data type"
                  type="java.lang.String">
            </parameter>
         </edgeType>
         <import>
            <xslt
                  name="xslt/net/sf/graphiti/sdf4j/input_sdf4j.xslt">
            </xslt>
         </import>
         <export>
            <xslt
                  name="xslt/net/sf/graphiti/sdf4j/output_sdf4j.xslt">
            </xslt>
         </export>
         <vertexType
               name="Broadcast">
            <parameter
                  name="id"
                  type="java.lang.String">
            </parameter>
            <color
                  blue="10"
                  green="120"
                  red="0">
            </color>
            <size
                  height="30"
                  width="30">
            </size>
            <shape
                  type="circle">
            </shape>
         </vertexType>
         <vertexType
               name="fork">
            <parameter
                  name="id"
                  type="java.lang.String">
            </parameter>
            <color
                  blue="0"
                  green="10"
                  red="120">
            </color>
            <size
                  height="30"
                  width="30">
            </size>
            <shape
                  type="circle">
            </shape>
         </vertexType>
         <vertexType
               name="join">
            <parameter
                  name="id"
                  type="java.lang.String">
            </parameter>
            <color
                  blue="120"
                  green="0"
                  red="10">
            </color>
            <size
                  height="30"
                  width="30">
            </size>
            <shape
                  type="circle">
            </shape>
         </vertexType>
      </configuration>
      <configuration
            extension="cal"
            name="CAL"
            type="text"
            validator="net.sf.graphiti.validator.ActorValidator">
         <graphType
               name="CAL actor">
            <parameter
                  name="id"
                  type="java.lang.String">
            </parameter>
            <parameter
                  name="actor parameter"
                  type="java.util.List">
            </parameter>
            <parameter
                  name="actor variable declaration"
                  type="java.util.Map">
            </parameter>
         </graphType>
         <import>
            <grammar
                  definition="net.sf.graphiti.grammar.cal"
                  startRule="actor">
            </grammar>
            <xslt
                  name="xslt/net/sf/graphiti/xdf/calToCalML.xslt">
            </xslt>
            <xslt
                  name="xslt/net/sf/graphiti/xdf/input_CalML.xslt">
            </xslt>
         </import>
         <vertexType
               name="Input port">
            <parameter
                  name="id"
                  type="java.lang.String">
            </parameter>
            <color
                  blue="100"
                  green="60"
                  red="0">
            </color>
            <size
                  height="30"
                  width="30">
            </size>
            <shape
                  type="triangle">
            </shape>
         </vertexType>
         <vertexType
               name="Output port">
            <parameter
                  name="id"
                  type="java.lang.String">
            </parameter>
            <color
                  blue="100"
                  green="0"
                  red="60">
            </color>
            <shape
                  type="triangle">
            </shape>
            <size
                  height="30"
                  width="30">
            </size>
         </vertexType>
      </configuration>
      <configuration
            extension="design"
            name="IP-XACT Design Simple"
            type="text/xml"
            validator="net.sf.graphiti.validator.IPXACTValidator">
         <graphType
               name="Spirit IP-XACT simple design">
            <parameter
                  name="id"
                  type="java.lang.String">
            </parameter>
            <parameter
                  name="vendor"
                  type="java.lang.String">
            </parameter>
            <parameter
                  name="library"
                  type="java.lang.String">
            </parameter>
            <parameter
                  name="name"
                  type="java.lang.String">
            </parameter>
            <parameter
                  name="version"
                  type="java.lang.String">
            </parameter>
         </graphType>
         <import>
            <xslt
                  name="xslt/net/sf/graphiti/ip-xact/input_IP-XACT-Design-Simple.xslt">
            </xslt>
         </import>
         <vertexType
               name="hierConnection">
            <color
                  blue="0"
                  green="0"
                  red="255">
            </color>
            <shape
                  type="roundedBox">
            </shape>
            <size
                  height="40"
                  width="40">
            </size>
            <parameter
                  name="id"
                  type="java.lang.String">
            </parameter>
         </vertexType>
         <vertexType
               name="componentInstance">
            <color
                  blue="255"
                  green="255"
                  red="255">
            </color>
            <shape
                  type="roundedBox">
            </shape>
            <parameter
                  name="id"
                  type="java.lang.String">
            </parameter>
            <size
                  height="40"
                  width="40">
            </size>
            <parameter
                  name="vendor"
                  type="java.lang.String">
            </parameter>
            <parameter
                  name="library"
                  type="java.lang.String">
            </parameter>
            <parameter
                  name="name"
                  type="java.lang.String">
            </parameter>
            <parameter
                  name="version"
                  type="java.lang.String">
            </parameter>
            <parameter
                  name="refinement"
                  type="java.lang.String">
            </parameter>
            <parameter
                  name="componentType"
                  type="java.lang.String">
            </parameter>
         </vertexType>
         <vertexType
               name="operator">
            <color
                  blue="16"
                  green="220"
                  red="123">
            </color>
            <shape
                  type="roundedBox">
            </shape>
            <parameter
                  name="id"
                  type="java.lang.String">
            </parameter>
            <size
                  height="40"
                  width="40">
            </size>
            <parameter
                  name="refinement"
                  type="java.lang.String">
            </parameter>
            <parameter
                  name="definition"
                  type="java.lang.String">
            </parameter>
         </vertexType>
         <vertexType
               name="medium">
            <color
                  blue="96"
                  green="96"
                  red="244">
            </color>
            <shape
                  type="circle">
            </shape>
            <parameter
                  name="id"
                  type="java.lang.String">
            </parameter>
            <size
                  height="40"
                  width="40">
            </size>
            <parameter
                  name="refinement"
                  type="java.lang.String">
            </parameter>
            <parameter
                  name="definition"
                  type="java.lang.String">
            </parameter>
            <parameter
                  name="medium_dataRate"
                  type="java.lang.String">
            </parameter>
            <parameter
                  name="medium_overhead"
                  type="java.lang.String">
            </parameter>
         </vertexType>
         <vertexType
               name="parallelNode">
            <color
                  blue="252"
                  green="209"
                  red="199">
            </color>
            <shape
                  type="triangle">
            </shape>
            <parameter
                  name="id"
                  type="java.lang.String">
            </parameter>
            <size
                  height="40"
                  width="40">
            </size>
            <parameter
                  name="refinement"
                  type="java.lang.String">
            </parameter>
            <parameter
                  name="definition"
                  type="java.lang.String">
            </parameter>
            <parameter
                  name="dataRate"
                  type="java.lang.String">
            </parameter>
         </vertexType>
         <vertexType
               name="contentionNode">
            <color
                  blue="255"
                  green="140"
                  red="110">
            </color>
            <shape
                  type="triangle">
            </shape>
            <parameter
                  name="id"
                  type="java.lang.String">
            </parameter>
            <size
                  height="40"
                  width="40">
            </size>
            <parameter
                  name="refinement"
                  type="java.lang.String">
            </parameter>
            <parameter
                  name="definition"
                  type="java.lang.String">
            </parameter>
            <parameter
                  name="dataRate"
                  type="java.lang.String">
            </parameter>
         </vertexType>
         <vertexType
               name="dma">
            <color
                  blue="0"
                  green="100"
                  red="50">
            </color>
            <shape
                  type="roundedBox">
            </shape>
            <parameter
                  name="id"
                  type="java.lang.String">
            </parameter>
            <size
                  height="40"
                  width="40">
            </size>
            <parameter
                  name="refinement"
                  type="java.lang.String">
            </parameter>
            <parameter
                  name="definition"
                  type="java.lang.String">
            </parameter>
         </vertexType>
         <vertexType
               name="ram">
            <color
                  blue="150"
                  green="255"
                  red="255">
            </color>
            <shape
                  type="roundedBox">
            </shape>
            <parameter
                  name="id"
                  type="java.lang.String">
            </parameter>
            <size
                  height="40"
                  width="40">
            </size>
            <parameter
                  name="refinement"
                  type="java.lang.String">
            </parameter>
            <parameter
                  name="definition"
                  type="java.lang.String">
            </parameter>
         </vertexType>
         <edgeType
               directed="true"
               name="setup">
            <color
                  blue="0"
                  green="255"
                  red="0">
            </color>
            <parameter
                  name="setupTime"
                  type="java.lang.String">
            </parameter>
            <parameter
                  name="id"
                  type="java.lang.String">
            </parameter>
            <parameter
                  name="source port"
                  type="java.lang.String">
            </parameter>
            <parameter
                  name="target port"
                  type="java.lang.String">
            </parameter>
         </edgeType>
         <edgeType
               directed="false"
               name="hierConnection">
            <color
                  blue="0"
                  green="0"
                  red="255">
            </color>
            <parameter
                  name="source port"
                  type="java.lang.String">
            </parameter>
         </edgeType>
         <edgeType
               directed="false"
               name="interconnection">
            <color
                  blue="0"
                  green="0"
                  red="0">
            </color>
            <parameter
                  name="id"
                  type="java.lang.String">
            </parameter>
            <parameter
                  name="source port"
                  type="java.lang.String">
            </parameter>
            <parameter
                  name="target port"
                  type="java.lang.String">
            </parameter>
         </edgeType>
         <export>
            <xslt
                  name="xslt/net/sf/graphiti/ip-xact/output_IP-XACT-Design-Simple.xslt">
            </xslt>
         </export>
      </configuration>
      <configuration
            extension="component"
            name="IP-XACT Component Simple"
            type="text/xml"
            validator="net.sf.graphiti.validator.IPXACTValidator">
         <graphType
               name="Spirit IP-XACT simple component">
            <parameter
                  name="cmpVendor"
                  type="java.lang.String">
            </parameter>
            <parameter
                  name="cmpLibrary"
                  type="java.lang.String">
            </parameter>
            <parameter
                  name="cmpName"
                  type="java.lang.String">
            </parameter>
            <parameter
                  name="cmpVersion"
                  type="java.lang.String">
            </parameter>
            <parameter
                  default="0x00000000"
                  name="memoryAddress"
                  type="java.lang.String">
            </parameter>
            <parameter
                  default="0xFFFFFFFF"
                  name="memoryRange"
                  type="java.lang.String">
            </parameter>
            <parameter
                  default="128"
                  name="memoryWidth"
                  type="java.lang.String">
            </parameter>
         </graphType>
         <import>
            <xslt
                  name="xslt/net/sf/graphiti/ip-xact/input_IP-XACT-Component-Simple.xslt">
            </xslt>
         </import>
         <vertexType
               name="Port">
            <color
                  blue="0"
                  green="0"
                  red="255">
            </color>
            <shape
                  type="roundedBox">
            </shape>
            <size
                  height="30"
                  width="30">
            </size>
            <parameter
                  name="id"
                  type="java.lang.String">
            </parameter>
            <parameter
                  name="busVendor"
                  type="java.lang.String">
            </parameter>
            <parameter
                  name="busLibrary"
                  type="java.lang.String">
            </parameter>
            <parameter
                  name="busName"
                  type="java.lang.String">
            </parameter>
            <parameter
                  name="busVersion"
                  type="java.lang.String">
            </parameter>
         </vertexType>
         <export>
            <xslt
                  name="xslt/net/sf/graphiti/ip-xact/output_IP-XACT-Component-Simple.xslt">
            </xslt>
         </export>
         <vertexType
               name="subDesign">
            <color
                  blue="85"
                  green="0"
                  red="163">
            </color>
            <shape
                  type="circle">
            </shape>
            <size
                  height="40"
                  width="40">
            </size>
            <parameter
                  name="id"
                  type="java.lang.String">
            </parameter>
            <parameter
                  name="vendor"
                  type="java.lang.String">
            </parameter>
            <parameter
                  name="library"
                  type="java.lang.String">
            </parameter>
            <parameter
                  name="name"
                  type="java.lang.String">
            </parameter>
            <parameter
                  name="version"
                  type="java.lang.String">
            </parameter>
         </vertexType>
      </configuration>
   </extension>
   <extension
         point="net.sf.graphiti.configuration.grammar">
      <definition
            class="net.sf.graphiti.grammar.CalAntlrProxy"
            id="net.sf.graphiti.grammar.cal">
      </definition>
   </extension>
</plugin>
