<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="definition" name="definition" schema="schema/definition.exsd"/>
   <extension-point id="grammar" name="grammar" schema="schema/grammar.exsd"/>

   <extension
         point="net.sf.graphiti.configuration.definition">
      <configuration
            extension="xdf"
            file-extensions="cal,nl,xnl,xdf"
            name="XDF"
            type="text/xml"
            validator="net.sf.graphiti.validator.DataflowValidator">
         <graphType
               name="XML Dataflow Network">
            <parameter
                  name="id"
                  type="java.lang.String">
            </parameter>
            <parameter
                  name="network parameter"
                  type="java.util.List">
            </parameter>
            <parameter
                  name="network variable declaration"
                  type="java.util.Map">
            </parameter>
         </graphType>
         <vertexType
               name="Input port">
            <parameter
                  name="id"
                  type="java.lang.String">
            </parameter>
            <parameter
                  default="int(size=32)"
                  name="port type"
                  type="java.lang.String">
            </parameter>
               <color
                     blue="100"
                     green="60"
                     red="0">
               </color>
               <size
                     height="30"
                     width="30">
               </size>
               <shape
                     type="triangle">
               </shape>
         </vertexType>
         <vertexType
               name="Output port">
            <parameter
                  name="id"
                  type="java.lang.String">
            </parameter>
            <parameter
                  default="int(size=32)"
                  name="port type"
                  type="java.lang.String">
            </parameter>
               <color
                     blue="100"
                     green="0"
                     red="60">
               </color>
               <shape
                     type="triangle">
               </shape>
               <size
                     height="30"
                     width="30">
               </size>
         </vertexType>
         <vertexType
               name="Instance">
            <parameter
                  name="id"
                  type="java.lang.String">
            </parameter>
            <parameter
                  name="instance parameter"
                  type="java.util.Map">
            </parameter>
            <parameter
                  name="refinement"
                  type="java.lang.String">
            </parameter>
            <color
                  blue="23"
                  green="232"
                  red="190">
            </color>
            <size
                  height="40"
                  width="40">
            </size>
            <shape
                  type="roundedBox">
            </shape>
         </vertexType>
         <edgeType
               directed="true"
               name="Connection">
            <parameter
                  name="source port"
                  type="java.lang.String">
            </parameter>
            <parameter
                  name="target port"
                  type="java.lang.String">
            </parameter>
            <parameter
                  name="buffer size"
                  type="java.lang.String">
            </parameter>
         </edgeType>
         <import>
            <xslt
                  name="xslt/net/sf/graphiti/xdf/input_XDF.xslt">
            </xslt>
         </import>
         <export>
            <xslt
                  name="xslt/net/sf/graphiti/xdf/output_XDF.xslt">
            </xslt>
         </export>
      </configuration>
      <configuration
            extension="graphml"
            name="sdf4j"
            type="text/xml"
            validator="net.sf.graphiti.validator.StaticDataflowValidator">
         <graphType
               name="SDF Graph">
            <parameter
                  name="name"
                  type="java.lang.String">
            </parameter>
            <parameter
                  name="graph parameter"
                  type="java.util.List">
            </parameter>
            <parameter
                  name="graph variable"
                  type="java.util.Map">
            </parameter>
         </graphType>
         <vertexType
               name="Input port">
            <parameter
                  name="id"
                  type="java.lang.String">
            </parameter>
            <color
                  blue="100"
                  green="60"
                  red="0">
            </color>
            <size
                  height="30"
                  width="30">
            </size>
            <shape
                  type="triangle">
            </shape>
         </vertexType>
         <vertexType
               name="Output port">
            <parameter
                  name="id"
                  type="java.lang.String">
            </parameter>
            <color
                  blue="100"
                  green="0"
                  red="60">
            </color>
            <shape
                  type="triangle">
            </shape>
            <size
                  height="30"
                  width="30">
            </size>
         </vertexType>
         <vertexType
               name="Vertex">
            <parameter
                  name="id"
                  type="java.lang.String">
            </parameter>
            <parameter
                  name="actual parameter"
                  type="java.util.Map">
            </parameter>
            <parameter
                  name="refinement"
                  type="java.lang.String">
            </parameter>
            <color
                  blue="17"
                  green="188"
                  red="238">
            </color>
            <size
                  height="40"
                  width="40">
            </size>
            <shape
                  type="roundedBox">
            </shape>
         </vertexType>
         <edgeType
               directed="true"
               name="Dataflow edge">
            <parameter
                  name="source port"
                  type="java.lang.String">
            </parameter>
            <parameter
                  name="target port"
                  type="java.lang.String">
            </parameter>
            <parameter
                  default="1"
                  name="source production"
                  type="java.lang.String">
            </parameter>
            <parameter
                  default="1"
                  name="target consumption"
                  type="java.lang.String">
            </parameter>
            <parameter
                  default="0"
                  name="delay"
                  type="java.lang.String">
            </parameter>
            <parameter
                  default="char"
                  name="data type"
                  type="java.lang.String">
            </parameter>
         </edgeType>
         <import>
            <xslt
                  name="xslt/net/sf/graphiti/sdf4j/input_sdf4j.xslt">
            </xslt>
         </import>
         <export>
            <xslt
                  name="xslt/net/sf/graphiti/sdf4j/output_sdf4j.xslt">
            </xslt>
         </export>
         <vertexType
               name="Broadcast">
            <parameter
                  name="id"
                  type="java.lang.String">
            </parameter>
            <color
                  blue="10"
                  green="120"
                  red="0">
            </color>
            <size
                  height="30"
                  width="30">
            </size>
            <shape
                  type="circle">
            </shape>
         </vertexType>
         <vertexType
               name="fork">
            <parameter
                  name="id"
                  type="java.lang.String">
            </parameter>
            <color
                  blue="0"
                  green="10"
                  red="120">
            </color>
            <size
                  height="30"
                  width="30">
            </size>
            <shape
                  type="circle">
            </shape>
         </vertexType>
         <vertexType
               name="join">
            <parameter
                  name="id"
                  type="java.lang.String">
            </parameter>
            <color
                  blue="120"
                  green="0"
                  red="10">
            </color>
            <size
                  height="30"
                  width="30">
            </size>
            <shape
                  type="circle">
            </shape>
         </vertexType>
      </configuration>
   </extension>
   <extension
         point="net.sf.graphiti.configuration.grammar">
      <definition
            class="net.sf.graphiti.grammar.CalAntlrProxy"
            id="net.sf.graphiti.grammar.cal">
      </definition>
   </extension>
</plugin>
